@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 96%;
		--foreground: 0 0% 9%;
		--muted: 0 12% 90%;
		--muted-foreground: 0 12% 30%;
		--popover: 0 0% 93%;
		--popover-foreground: 0 0% 0%;
		--card: 0 0% 94%;
		--card-foreground: 0 0% 4%;
		--border: 0 0% 91%;
		--input: 0 0% 88%;
		--primary: 0 0% 49%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 75%;
		--secondary-foreground: 0 0% 15%;
		--accent: 0 0% 81%;
		--accent-foreground: 0 0% 21%;
		--destructive: 6 92% 43%;
		--destructive-foreground: 0 0% 100%;
		--ring: 0 0% 49%;
		--radius: 0rem;
	}

	.dark {
		--background: 214 17% 8%;
		--foreground: 218 7% 78%;
		--muted: 214 12% 15%;
		--muted-foreground: 214 12% 65%;
		--popover: 214 17% 5%;
		--popover-foreground: 218 7% 88%;
		--card: 214 17% 6%;
		--card-foreground: 218 7% 83%;
		--border: 214 7% 13%;
		--input: 214 7% 16%;
		--primary: 270 84% 66%;
		--primary-foreground: 0 0% 0%;
		--secondary: 270 30% 25%;
		--secondary-foreground: 270 30% 85%;
		--accent: 214 17% 23%;
		--accent-foreground: 214 17% 83%;
		--destructive: 2 89% 56%;
		--destructive-foreground: 0 0% 100%;
		--ring: 270 84% 66%;
	}
}

@layer base {
	* {
		@apply overscroll-none border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
